
@model IEnumerable<QuestRooms.BLL.DTOModels.RoomDto>

@{ 
    ViewBag.Title = "Index";
}
<ul>
    @foreach(var c in ViewBag.Cities)
    {
        <li><input id="@c.ID" onchange="CitiesFilter(event)" type="checkbox"/>@c.Name</li>
    }
</ul>

<div class="container">
    <div id="result">
        @{ 
            Html.RenderPartial("RoomsByCity", Model); 
        }
    </div>
</div>

<script>
    function CitiesFilter(event) {
        console.log(event.target.id);
        $('#result').load('@Url.Action("RoomsByCity", "Room")?id=' + event.target.id);
    }
</script>